/*


 ,ggggggggggggggg
dP""""""88"""""""               I8  ,dPYb,    ,dPYb,           ,dPYb,
Yb,_    88                      I8  IP'`Yb    IP'`Yb           IP'`Yb
 `""    88                   8888888I8  8I    I8  8I           I8  8I
        88                      I8  I8  8'    I8  8'           I8  8'
        88 ,gggggg, gg      gg  I8  I8 dPgg,  I8 dP gg      gg I8 dP
        88 dP""""8I I8      8I  I8  I8dP" "8I I8dP  I8      8I I8dP
  gg,   88,8'    8I I8,    ,8I ,I8, I8P    I8 I8P   I8,    ,8I I8P
   "Yb,,8,dP     Y8,d8b,  ,d8b,d88b,d8     I8,d8b,_,d8b,  ,d8b,d8b,_
     "Y8P8P      `Y8P'"Y88P"`Y8P""Y88P     `YPI8"888P'"Y88P"`Y8P'"Y88
                                              I8 `8,
        designed by truthful                  I8  `8,
        code @ github.com/truthfuluk          I8   8I
        ----------------------------          I8   8I
                                              I8, ,8'
                                               "Y8P'

*/

@import 'vars_partial';
@import 'mixins_partial';

body {
  font-family: $font;
}

.bg {
  min-height: 100%;
  min-width: 100%;
  z-index: -10;
  background: url(images/bg-desk.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.noise {
  z-index: 0;
  background: url(images/noise.png);
}

.grad {
  background: url(images/grad.png) repeat-x;
}

h1 {
  font-weight: $bold;
  font-style: italic;
  font-size: 2.0rem;
  text-transform: uppercase;
  margin: 0 0 6px 0;
  color: $primary;
  @include text-shadow($shadow);
}

h2 {
  font-weight: $bold;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin: 0 0 2px 0;
  color: #fff;
  @include text-shadow($shadow);
}

p {
  font-weight: $norm;
  margin: 0;
  color: #fff;
  font-size: 1.2rem;
  @include text-shadow($shadow);
}

.framing {
  background: #000;
}

.container {
  .nav {
    height: 90px;
    border-bottom: 1px solid $primary;
    ul {
      margin: 40px 0;
      text-align: right;
      padding: 0;
      li {
        display: inline;
        list-style-type: none;
        font-weight: $light;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin: 0 0.5rem 0;
        a {
          color: $nav-secondary;
          text-decoration: none;
        }
        a:hover {
          color: #929292;
        }
      }
      .active {
        color: $nav-primary;
        @include border-radius(20px);
        border: 1px solid $nav-primary;
        padding: 8px;
        a {
          color: $primary;
          text-decoration: none;
        }
        a:hover {
          color: $primary;
        }
      }
    }
    .logo {
      margin-top: 40px;
    }
  }

  .welcome, .sponsors, .services, .service, .preview {
    margin-top: 4%;
  }

  .welcome {
    padding: 10px;
    background-color:rgba(0,0,0,0.5);
    border: 1px solid #1f1f1f;
    @include box-shadow($bshadow);
  }

  .sponsors {
    @extend .welcome;
    img {
      margin-right: 5px;
    }
  }

  .services {
    padding: 10px;
    background-color:rgba(0,0,0,0.5);
    border: 1px solid #1f1f1f;
    @include box-shadow($bshadow);
    }

    .service {
      height: 200px;
      overflow: hidden;
      background-color:rgba(0,0,0,0.5);
      border: 1px solid #1f1f1f;
      @include box-shadow($bshadow);
      position: relative;
      img {
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -10;
        @include opacity(0.5);
      }
      .imgdisplay {
        max-width: 100%;
        display: block;
        height: auto;
      }
      img:hover {
        @include opacity(1);
      }
      .serv-name {
        width: 100%;
        height: 60px;
        position: absolute;
        padding: 15px 5px 5px 15px;
        bottom: 0;
        z-index: 0;
        left: 0;
        background: #1f1f1f;
        p {
          color: #a6a6a6;
          text-transform: uppercase;
        }
      }
    }

  .preview {
    height: 200px;
    overflow: hidden;
    background-color:rgba(0,0,0,0.5);
    border: 1px solid #1f1f1f;
    @include box-shadow($bshadow);
    position: relative;
    img {
      background-color: rgba(0, 0, 0, 0.5);
      max-width: 100%;
      display: block;
      height: auto;
      z-index: -10;
      @include opacity(0.5);
    }
    img:hover {
      @include opacity(1);
    }
    .prev-name {
      width: 100%;
      height: 60px;
      position: absolute;
      padding: 15px 5px 5px 15px;
      bottom: 0;
      z-index: 0;
      left: 0;
      background: #1f1f1f;
      p {
        color: #a6a6a6;
        text-transform: uppercase;
      }
    }
  }
}

.hire {
  padding: 200px;
  margin-top: 2%;
}

.footer {
  padding: 50px;
  margin-top: 0;
}
